<h1>Articles</h1>
<div align = "center">
  <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>
<%= render "article", obj: @articles %>
<div align = "center">
  <%= will_paginate renderer: BootstrapPagination::Rails%>
</div>